*.env
/text2sql-js-service/
/diploma-frontend/.idea/.gitignore
/diploma-frontend/.idea/vcs.xml
/service-testing/
/database-service/databases/user_databases/*
local.yaml
text-to-sql-service-go/config/local.yaml